body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(192, 169, 94), rgb(181, 182, 121));
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px 20px;
  color: rgb(247, 228, 146);
  background-color: rgb(29, 29, 29);
}
#btn {
  font-weight: bold;
  background: rgb(247, 228, 146);
  padding: 10px 20px 10px;
}
#result {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}
